[submodule "metriq-app"]
	path = metriq-app
	url = https://github.com/unitaryfund/metriq-app.git
[submodule "metriq-postgres"]
	path = metriq-postgres
	url = https://github.com/unitaryfund/metriq-postgres.git
